<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="de.hft.carrental.domain.Agency" />
		<mapping class="de.hft.carrental.domain.Booking" />
		<mapping class="de.hft.carrental.domain.Branch" />
		<mapping class="de.hft.carrental.domain.BranchAddress" />
		<mapping class="de.hft.carrental.domain.Car" />
		<mapping class="de.hft.carrental.domain.CarType" />
		<mapping class="de.hft.carrental.domain.Customer" />
		<mapping class="de.hft.carrental.domain.CustomerAddress" />
	</session-factory>
</hibernate-configuration>